.env
.env.*
!.env.example

config/wazuh_indexer_ssl_certs/*
!config/wazuh_indexer_ssl_certs/.gitkeep

agent/.env
agent/.env.*
!agent/.env.example

backups/
logs/
*.log
*.tar
*.tar.gz
*.tgz

docker-compose.override.yml
compose.override.yaml

.DS_Store
Thumbs.db
.vscode/
.idea/
